/* General CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
:root {
  --red-color : red;
}
.ring{
  border: 1px solid red;
}
a {
  text-decoration: none;
}
.flexR{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Main CSS Starts Here */
.header-container{
  padding: 10px 0;
  display: flex;
  align-items: center;
  border: 1px solid red;
}
.header-container .left-nav{
 margin-left: 50px;
 
}
.side-toggleIcon{
  color: green;
  border: 1px solid red;
  padding: 0 22px;
}
.fa-bars{
  color: rgb(80, 80, 80);
}
.left-nav .logo{
  width: 90px;
}
.right-nav{
  margin-left: auto;
}

.search-box {
  max-width: 30%;
  display: flex;
  flex: 1;
  align-items: center;
  height: 35px;
  border: 1px solid rgb(189, 189, 189);
  justify-content: space-between;
  border-radius: 5px;
  margin: auto;
}
.search-box > div {
  display: flex;
  color: rgb(133, 133, 133);
  width: 5%;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}
.search-box div > i {
  font-size: 15px;
}
.search-box > input {
  border: none;
  width: 94%;
  height: 100%;
  border-radius: 5px;
  padding-left: 10px;
}
.search-box input:focus{
  outline: none;
}